<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> SongSplit </title>
    <link rel="icon" type="image/png" href="../static/images/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/fonts/cryptofont/css/cryptofont.min.css">
    <link rel="stylesheet" href="../static/js/aos/aos.css">
    <link rel="stylesheet" href="../static/css/dropzone.css">
  </head>
  <body>
    {% block body %}{% endblock %}
    <!-- Core js -->
    <script src="../static/js/dropzone.js"></script>
    <script type="text/javascript">
    Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

      // The configuration we've talked about above
      autoProcessQueue: false,
      uploadMultiple: false,
      parallelUploads: 1,
      maxFiles: 1,
      acceptedFiles: "audio/*",
      maxFilesize: 15,

      // The setting up of the dropzone
      init: function() {
        var myDropzone = this;

        // First change the button to actually tell Dropzone to process the queue.
        this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
          // Make sure that the form isn't actually being sent.
          if (myDropzone.getUploadingFiles().length != 0 || myDropzone.getQueuedFiles().length != 0) {
            $("#btnsplit").attr('class', "button is-primary is-loading");
          }
          e.preventDefault();
          e.stopPropagation();
          myDropzone.processQueue();
        });

        // Listen to the sendingmultiple event. In this case, it's the sendingmultiple event instead
        // of the sending event because uploadMultiple is set to true.
        this.on("sendingmultiple", function() {
          // Gets triggered when the form is actually being sent.
          // Hide the success button or the complete form.
        });
        this.on("successmultiple", function(files, response) {
          // Gets triggered when the files have successfully been sent.
          // Redirect user or notify of success.
        });
        this.on("errormultiple", function(files, response) {
          // Gets triggered when there was an error sending the files.
          // Maybe show form again, and notify user of error
        });
        this.on("error", function(file, message) {
            alert(message);
        });
        this.on("success", function(file, response) {

            var audio_vocal = document.getElementById('audio_vocal');
            var audio_beat = document.getElementById('audio_beat');

            $("#src_vocal").attr('src', response.vocal);
            $("#src_beat").attr('src', response.beat);

            audio_vocal.load();
            audio_beat.load();

            $("#dwl_vocal").attr('href', response.vocal);
            $("#dwl_beat").attr('href', response.beat);

            $('#my-awesome-dropzone').hide();
            $('#results').show();
          });
      }

    }
    </script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/aos/aos.js"></script>
    <script src="../static/js/timer.js"></script>
    <script src="../static/js/timeline.js"></script>
    <script src="../static/js/roadmap.js"></script>
    <script src="../static/js/main.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
